.auth-layout {
  width: 100%;
  height: 100%;
  background-color: $color-neutral100;
  display: flex;
  overflow: hidden;

  @screen md {
    flex-direction: column;
    overflow-y: auto;
  }

  .logo {
    height: auto;
    max-width: 300px;
  }

  &__aside, .aside {
    position: relative;
    min-height: 100%;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    flex: 0 1 460px;
    padding: 0 60px;
    color: $color-neutral0;
    background-color: $color-primary400;

    @screen lg {
      padding: 0 40px 0 60px;
    }

    @screen md {
      min-height: auto;
      width: 100%;
      padding: 30px 60px;
      flex: 0 0 auto;
    }

    @screen sm {
      padding: 20px 30px;
    }

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      z-index: 0;

      @screen md {
        display: none;
      }
    }

    &:before {
      height: 136px;
      top: 226px;
      width: 32px;
      //background-image: url("/images/auth/striped-bar.svg");
      background-image: url("@/features/auth/assets/images/striped-bar.svg");
      background-size: cover;
    }

    &:after {
      height: 100%;
      bottom: 0;
      width: 100%;
      background-image: url("@/features/auth/assets/images/circles.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom center;
    }

    .aside-content {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &__header {
      position: relative;
      top: 35px;
      margin-right: 40px;
      z-index: 10;

      @screen md {
        position: relative;
        top: auto;
        margin: 0;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      color: $color-neutral0;

      @screen md {
        display: none;
      }
    }

    .logo {
      img {
        width: auto;
        height: 36px;

        @screen md {
          height: 28px;
        }
      }
    }

    &__title {
      margin-bottom: 20px;
      color: $color-neutral0;
    }

    &__subtitle {
      margin-bottom: 15px;
      color: $color-neutral0;
    }
  }

  &__content {
    min-height: 100%;
    padding: 0 125px;
    width: 100%;
    flex: 1 1 800px;
    z-index: 5;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    display: flex;
    transition: all 0.2s ease;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background-image: url("@/features/auth/assets/images/auth-bg-ovals.svg");
      background-position: right center;
      background-repeat: no-repeat;
      background-size: auto;

      @screen xl {
        width: calc((50vw + 400px) * 0.78);
      }

      @screen md {
        display: none;
      }
    }

    @screen xl {
      padding: 0 5%;
    }

    @screen md {
      padding: 40px 60px;
      overflow-y: initial;
      min-height: auto;
      flex: 1 1 100%;
    }

    @screen sm {
      padding: 30px;
    }

    .login-page, .sign-up-page, .complete-page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: min-content;
      min-height: 100%;
      max-width: 540px;
      position: relative;

      @screen md {
        max-width: 100%;
      }
    }

    .complete-page {
      padding: 60px 0;

      @screen md {
        padding: 0;
      }
    }

    .auth-form {
      width: 80%;
    }

    .social-section {
      margin-top: 30px;
      display: flex;
      align-items: center;

      &__button {
        margin-left: 8px;
        cursor: pointer;
      }

      &__description {
        color: #242424;
      }
    }

    .bottom-section {
      position: absolute;
      bottom: 30px;
      display: flex;
    }

    .auth-goto-link {
      display: flex;
      align-items: center;
    }
  }
}
