$button-primary-background-color: $color-primary400;
$button-primary-text-color: $color-neutral0;
$button-primary-hover-background-color: $color-primary500;
$button-primary-disabled-color: $color-primary200;

$button-secondary-background-color: $color-neutral0;
$button-secondary-text-color: $color-primary400;
$button-secondary-hover-background-color: $color-neutral200;
$button-secondary-border-color: $color-primary400;

$navlink-primary-color: $color-primary400;
$navlink-primary-hover-color: $color-primary500;

$navlink-white-color: $color-neutral0;
$navlink-white-hover-color: $color-neutral200;
