$input-background-color: $color-neutral0;
$input-border-color: $color-neutral200;
$input-text-color: $color-neutral500;
$input-invalid-color: $color-error300;
$input-placeholder-color: $color-neutral300;

