$color-primary0: #EFF4FF;
$color-primary100: #CCDAFF;
$color-primary200: #A9C1FF;
$color-primary300: #86A8FF;
$color-primary400: #618CFA;
$color-primary500: #4B73D8;

$color-neutral0: #FFFFFF;
$color-neutral100: #F2F5F7;
$color-neutral200: #D8DEE1;
$color-neutral300: #909395;
$color-neutral400: #525456;
$color-neutral500: #242424;

$color-success0: #EEFFF5;
$color-success100: #BAFFD8;
$color-success200: #87FFBB;
$color-success300: #4FF196;
$color-success400: #23AD5F;
$color-success500: #086932;

$color-warning0: #FFF8E9;
$color-warning100: #FFE3A8;
$color-warning200: #FFCF67;
$color-warning300: #F5B325;
$color-warning400: #B17B06;
$color-warning500: #6D4A00;

$color-error0: #FFEFEF;
$color-error100: #FFA8A6;
$color-error200: #F15C58;
$color-error300: #BE3936;
$color-error400: #8B1F1C;
$color-error500: #580C0B;
