@import '../../_colors/button-colors';

.button {
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 10px;
  outline: none;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  .buttonText {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
  }

  @screen lg {
    padding: 14px 8px;
    font-size: 14px;
  }

  &.uppercase {
    text-transform: uppercase;
  }
}

.button-w {
  &-full {
    width: 100%;
  }

  &-fit {
    width: fit-content;
  }

  &-default {
    width: 202px;

    @screen lg {
      width: 170px;
    }
  }
}

.button-primary {
  @extend .button;

  background: $button-primary-background-color;
  color: $button-primary-text-color;

  &:hover {
    background: $button-primary-hover-background-color;
  }

  &.disabled {
    background: $button-primary-disabled-color;
  }
}

.button-secondary {
  @extend .button;

  background: $button-secondary-background-color;
  border: 1px solid $button-secondary-text-color;
  color: $button-secondary-hover-background-color;

  &:hover {
    background: $button-secondary-border-color;
  }

  &.disabled {
    opacity: 0.4;
  }
}



