@import '../../_colors/button-colors';

.container {
  width: 26px;
  height: 26px;
  min-width: 26px;
  min-height: 26px;
  border-radius: 50%;
  background-color: $button-primary-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  color: $button-primary-text-color;
}
