.font-regular {
  font-weight: $fw-regular;
}

.font-medium {
  font-weight: $fw-medium;
}

.font-semibold {
  font-weight: $fw-semibold;
}

.font-bold {
  font-weight: $fw-bold;
}

.font-black {
  font-weight: $fw-black;
}


.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

