@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/Inter-Medium.woff2') format('woff2'),
  url('@/assets/fonts/Inter-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url('@/assets/fonts/Inter-SemiBold.woff2') format('woff2'),
  url('@/assets/fonts/Inter-SemiBold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url('@/assets/fonts/Inter-Black.woff2') format('woff2'),
  url('@/assets/fonts/Inter-Black.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  src: url('@/assets/fonts/Inter-ExtraLight.woff2') format('woff2'),
  url('@/assets/fonts/Inter-ExtraLight.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  src: url('@/assets/fonts/Inter-Thin.woff2') format('woff2'),
  url('@/assets/fonts/Inter-Thin.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: url('@/assets/fonts/Inter-Light.woff2') format('woff2'),
  url('@/assets/fonts/Inter-Light.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  src: url('@/assets/fonts/Inter-Regular.woff2') format('woff2'),
  url('@/assets/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  src: url('@/assets/fonts/Inter-ExtraBold.woff2') format('woff2'),
  url('@/assets/fonts/Inter-ExtraBold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  src: url('@/assets/fonts/Inter-Bold.woff2') format('woff2'),
  url('@/assets/fonts/Inter-Bold.woff') format('woff');
}


