.modalFramer {
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  @include aphaColorMixin(0.8, $neutral900);
}

.modal {
  width: 100%;
  height: 100%;

  & .open {
    display: block;
  }

  .header {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .closeIcon {
    color: $neutral400;
  }

  .modalBody {
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 90%;
    max-width: 860px;
    background: #ffffff;
    border-radius: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 90%;
    overflow: auto;

    &-sm {
      max-width: 616px;
    }

    &-lg {
      max-width: 90%;
    }

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
}


