.container {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  justify-content: center;

  p {
    font-size: 14px;
  }

  .wrapper {
    border-radius: 12px;
    display: inline-block;
    height: 16px;
    position: relative;
    width: 30px;
  }

  input {
    height: 0;
    opacity: 0;
    width: 0;
  }

  .slider {
    background: $neutral700;
    border-radius: 40px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;

    &::before {
      background: $neutral50;
      border-radius: 50%;
      bottom: 1px;
      content: "";
      height: 14px;
      left: 1px;
      position: absolute;
      transition: .4s;
      width: 14px;
    }
  }

  input:checked + .slider {
    background-color: $primary800;
  }

  input:checked + .slider::before {
    transform: translateX(14px);
  }

}

