@import '../../_colors/button-colors';

.buttonGoogle {
  width: 42px;
  height: 42px;
  background: transparent;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  outline: none;
  border-radius: 50%;
  border: 1px solid $button-primary-background-color;
}
