.switchLarge {
  cursor: pointer;
  width: fit-content;
  display: inline-block;
  background: transparent;
  position: relative;
  transition: all 0.3s;
  border: 1px solid $primary800;
  border-radius: 12px;
  z-index: 2;

  &_checkbox {
    height: 0;
    width: 0;
    position: absolute;
    visibility: hidden;

    &:checked {
      & + .switchLarge_button {
        left: calc(100% + 1px);
        transform: translateX(-100%);
      }
    }
  }

  &_button {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: -1px;
    width: 50%;
    height: 100%;
    transition: 0.2s;
    background: $primary800;
    border-radius: 12px;
  }

  &_labels {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;

    span {
      padding: 13px 18px;
      width: 100%;
      text-align: center;
      border-radius: 12px;
      color: $primary800;
      &:first-child {
        color: $neutral50;
      }
    }

    &.checked {
      span {
        &:first-child {
          color: $primary800;
        }
        &:last-child {
          color: $neutral50;
        }
      }
    }
  }
}
