.h1, .h2, .h3 {
  line-height: 120%
}

.h1 {
  font-size: 44px;
  line-height: 120%;

  @screen lg {
    font-size: 30px;
  }
}

.h2 {
  font-size: 22px;
  line-height: 120%;

  @screen lg {
    font-size: 20px;
  }
}

.h3 {
  font-size: 20px;
  line-height: 120%;

  @screen lg {
    font-size: 18px;
  }
}
